* {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  background-color: darkcyan;
  font-family: sans-serif;
  color: brown;
  padding: 10px;
}

.logo {
  font-size: 1vw;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border: 2px solid burlywood;
  background-color: blanchedalmond;
  box-shadow: 4px 2px 2px brown;
  border-radius: 5px;
  padding: 5px;
}
.game-name {
  padding: 5px;
  margin: 0px;
}
.difficulty {
  margin-left: 10vw;
}

.difficulty-btn {
  margin-left: 2vw;
  width: 15vw;
  font-size: 2vw;
  font-weight: bold;
  border: 3px solid brown;
  box-shadow: 5px 3px 3px brown;
  border-radius: 10px;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.btn-active {
  background-color: red;
  color: bisque;
  box-shadow: none;
}

.start {
  background-color: beige;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 1vw;
}
.start-btn {
  margin-left: 2px;
  width: 24vw;
}
.counter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.member {
  display: flex;
  font-weight: bold;
  color: blueviolet;
  margin-left: 12vw;
  font-family: sans-serif;
  font-size: 2vw;
}
.points__ann,
.points__agmess {
  margin-left: 0.2vw;
  color: red;
}

table {
  width: 100%;
  height: 75vh;
}
.field-item {
  background-color: rgb(157, 155, 160);
  height: 8vh;
  /* width: 7vw; */
  border-radius: 15px;
}

.field-item__backgr {
  /* display: flex; */
  /* width: 100%;
  height: 100%; */
  border: 1px solid rgb(139, 58, 58);
  border-radius: 20px;
  background-position-y: -20px;
  background-size: cover;
  background-image: url(../pictures/Dog.JPG);
}

.field-item__backgr1 {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background-position: center;
  /* background-position-y: -35px; */
  background-size: cover;
  background-image: url(../pictures/agness4.jpg);
}
